{% extends 'base.html' %}

{% block content %} 
    {% for dweet in dweets %}
        {{ dweet.body }}
        <p class="fw-light"> ({{dweet.created_at}}) by {{dweet.user.username}} </p>
    {% endfor %}
    <a href="{% url 'dwitter:profile_list' %}"> 
        <div class="container">
            <div class="row align-items-end">
              
              <div class="col">
                <button class="btn btn-outline-primary">All profiles</button></a>
                <a href="{% url 'dwitter:profile' request.user.profile.id %}"> 
                <button class="btn btn-outline-primary">My profile</button></a>
                <h2>Add a Dweet</h2>
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary" type="submit">Dweet</button>
                </form>
              </div>
          </div>

 {% comment %}{%if user.is authenticated%}         
    Hi {{user.username}}

          <a href="{% url 'logout' %}">Logout</a>
{% else %}
           <a href="{% url 'login' %}">Login</a>
{% endcomment %}
{% endblock content %}  

